body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.disabled {
    background-color: gray;
}

.enabled {
    background-color: fuchsia;
    color: goldenrod;
    color: white;
}

.power {
    margin: 5px;
    padding: 5px;
}

button {
    margin: 5px;
    padding: 5px;
}